/* Estilos generales */

/* Reset */

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
} */

/* header{
    background-color: #494949;
    position: relative;
    width: 100vw;
} */

/* estilos menu navegacion */
/* .menu-ul li a{
    color: #163687;
    font-weight: bold;
} */
/* .logo-navbarbar{
    width: 5vw;
    height: 5vw;
} */


/* header nav ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 20px;
} */

/* header nav ul li a{
    text-decoration: none;
    color: #344E41;
    font-size: 20px;
} */

/* Main index */

/* main{
    margin-top: 1vw;
}

.lautaroimg{
    width: 30vh;
    height: 45vh;
} */

/* Main customers */

/* .contenedor{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    margin: 1rem 3rem 3rem 3rem;
    gap: 1rem;
}

.contenedor div{
    height: 300px;
}

.contenedor div img{
    width: 100%;
    height: 100%;
    object-fit: contain;
} */

/* ------------------------------------- */



/* Media query desktop */
/* @media screen and (min-width: 1024px){
    .contenedor{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 30vh);
    }

    .contenedor div{
        height: auto;
    }



    .img-uno{
        grid-column: span 1;
        grid-row: span 2;
    }

    .img-tres{
        grid-column: span 1;
    }

    .img-cuatro{
        grid-column: span 2;
    }

    .img-cinco{
        grid-column: span 3;
    }
} */


