.main-customers{
    .contenedor{
        display: grid;
        grid-template-columns: 3fr;
        grid-template-rows: repeat(5, auto);
        margin: 1rem 3rem 3rem 3rem;
        gap: 1rem;
        div{
            height: 300px;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        }
    }
